In [45]:
%matplotlib tk
import matplotlib.pyplot as plt
import pandas
import os
from numpy import isnan

In [114]:
for fp in os.listdir('csvs'):
    df = pandas.read_csv(os.path.join('csvs', fp), index_col='frame')
    df = df[df['timer_value'] != -1]

    print(len(df))

    while True:
        ok = secant_is_ok_func(df)

        df = df.loc[ok & ok.shift(-1), :]

        if (~ok).sum() <= 10 and (~secant_is_ok_func(df)).sum() <= 10:
            break
    df.to_csv('test.csv')
    print(len(df))
    

    plt.scatter(df.index, df['timer_value'], s=2)

27020
21093

In [93]:
df.to_csv('test.csv')

In [100]:
def secant_is_ok_func(df):
    prev_value = df['timer_value'].shift(1)
    prev_index = df.index.to_series().shift(1)
    index_diff = df.index - prev_index
    seconds_slope = (df['timer_value'] - prev_value) / (index_diff / 30)
    secant_is_ok = seconds_slope.apply(lambda x: x > -1.5 or isnan(x))
    return secant_is_ok

In [107]:
df = df[secant_is_ok_func(df)]

In [109]:
df.to_csv('test.csv')

In [110]:
df = df[secant_is_ok_func(df)]

In [111]:
df.to_csv('test.csv')

In [113]:
df[~secant_is_ok_func(df)]

       video_timestamp  timer_value timer_timestamp
frame
5425         000:03:01       122617        34:03:37
9531         000:05:18       122490        34:01:30
14896        000:08:17       122891        34:08:11
16244        000:09:02       122882        34:08:02
19901        000:11:04       122790        34:06:30
...                ...          ...             ...
958620       008:53:05       103388        28:43:08
959340       008:53:30       103374        28:42:54
968630       008:58:39       103194        28:39:54
976453       009:03:01       103093        28:38:13
980618       009:05:19       103050        28:37:30

[934 rows x 3 columns]